<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizdladzieci">

    <application
        android:allowBackup="true"
        android:icon="@drawable/counting"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FinishQuiz"></activity>
        <activity
            android:name=".Statistics_Calculator"
            android:parentActivityName=".Statistics" />
        <activity
            android:name=".Statistics_Quiz"
            android:parentActivityName=".Statistics" />
        <activity
            android:name=".Statistics"
            android:parentActivityName=".FirstScreenActivity" />
        <activity
            android:name=".UpdatePassword"
            android:parentActivityName=".UserProfileActivity" />
        <activity
            android:name=".UpdateProfile"
            android:parentActivityName=".UserProfileActivity" />
        <activity
            android:name=".UserProfileActivity"
            android:parentActivityName=".FirstScreenActivity" />
        <activity
            android:name=".PasswordActivity"
            android:parentActivityName=".AcitivityLogin" />
        <activity
            android:name=".RegistrationActivity"
            android:parentActivityName=".AcitivityLogin" />
        <activity android:name=".ActivityMinusK" />
        <activity android:name=".ActivityAddK" />
        <activity android:name=".ActivitySettings" />
        <activity android:name=".ActivityDivide2" />
        <activity android:name=".ActivityDivide" />
        <activity
            android:name=".ActivityMultiple"
            android:parentActivityName=".ActivityChose" />
        <activity
            android:name=".ActivityAdd"
            android:parentActivityName=".ActivityChose" />
        <activity
            android:name=".ActivityWin"
            android:parentActivityName=".ActivityChose" />
        <activity
            android:name=".ActivityMinus"
            android:parentActivityName=".ActivityChose" />
        <activity
            android:name=".ActivityChose"
            android:parentActivityName=".FirstScreenActivity" />
        <activity android:name=".SecondFragment" />
        <activity android:name=".FirstFragment" />
        <activity
            android:name=".CalculatorActivity"
            android:parentActivityName=".ActivityChose" />
        <activity
            android:name=".FirstScreenActivity"
            android:parentActivityName=".AcitivityLogin" />
        <activity android:name=".AcitivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuizActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".FirstScreenActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>